<div class="jumbotron">
  <div class="container">
    <div class="callout-text text-center">
      <h1>Students First Always</h1>
      <h2>Give students the power to send notifications <br>
        to their school counselors when they need help.<br>
        Scholarship?  Develop career path? <br>
        Guarantee students needs will be first!</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
        <%= link_to "Register Your School", "#", class: "register btn btn-default btn-lg" %>
      </div>
    </div>
  </div>
</div>