<section class="header">
  <div class="jumbotron head">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 callout-text text-center">
          <h1>Students First Always!</h1>
          <h2>Give students the power to send notifications
            to their school counselors when they need help.
            Scholarship?  Develop career path?
            Guarantee students needs will be first!</h2>
          <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
          <%= link_to "Register Your School", "#", class: "register btn btn-default btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="evidence-based">
  <div class="jumbotron">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>ASCA Centered &mdash; Evidence Based</h1>
          </div>
        </div>
        
        <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="export">Export students needs in Excel and PDF 
        files to monitor student needs and how you can continuously meet the 
        needs of students.
      </div>
      <div class="col-md-5">
        <i class="fa fa-file-pdf-o pdf-icon"></i>
      </div>
    </div>
    
    <hr class="featurette-divider">
    
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Based off the 3 domains: Social &#47; Emotional
          Academic and Career</h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
    
    <hr class="featurette-divider">
    
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>


<!-- /END THE FEATURETTES -->
        
      </div>  <!-- end of container -->
    </div> <!-- end of jumbotron -->

</section>